/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}
/* 1. Vị trí
   2. Kích thước
   3. Màu sắc
   4. Kiểu dáng */

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100%/3);
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* Main */
#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .subnav a {
    color: #000;
    padding: 8px 12px;
    line-height: 22px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336 !important;
}

#header .search-icon { 
    color: white;
    font-size: 14px;
    line-height: 46px;
    padding: 0 24px;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/Bài tập/The band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: white;
    bottom: 47px;
    /* right: 50%;
    transform: translateX(50%); */
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15xp;
    margin-top: 25px;
}


/* Content section */
#content {

}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    box-sizing: border-box;

}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 47px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
#content .tour-section {
    background-color: black;
}

.ticket_list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.ticket_list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket_list .sold-out {
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
}

.ticket_list .quantity {
    float: right;
    background-color: black;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3.5px;
}

/* Place */

.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    border: 0;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Contact from */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 12px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit {
    background-color: #000;
    color: #fff;
    border: #000;
    float: right;
    padding: 10px 16px;
}

.form-submit:hover {
    background-color: #a1a1a1;
    color: white;
    cursor: pointer;
}


/* Map section */

.map-section img{
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover, 
#footer .socials-list a:hover {
    opacity: 0.45;
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .7s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
}

.modal-close:hover {
    background-color: #a1a1a1;
    cursor: pointer;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 18px;
    border: none;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    float: right;
}

.modal-footer a {
    color: #2196f3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
